body {
  background-color: #53bdb7b2;
  font-family: Arial, Helvetica, sans-serif;
}

/* MAIN HEADER AND SECTION  */

.container {
  margin: 5px;
  padding: 0;
}

header {
  width: 24%;
  height: 100px;
  background: #c76306;
  margin-bottom: 10px;
}

.mainH1 {
  color: white;
  text-align: center; 
  margin: 0;
  padding-top: 30px;
  font-size: 34px;
}

.mainSection {
  background: #f7e0c3;
  width: 35%;
  height: 500px;
  color: #069b06;
  line-height: 1.2;
  margin: 0 0 10px 0;
  padding: 10px;
  font-weight: 600;
 }

 .p1 {
   margin-top: 10px;
 }

/* SCORE TRACKING */

 .compRandom {
   background: #42b472;
   height: 125px;
   width: 15%;
   margin-right: 10px;
   margin-left: 15px;
 }

 .paraRandom {
  margin: 0 0 0 -10px;
 }

 .scoreTracker {
   background: aqua;
   font-weight: 100;
 }

 .paraWin, paraLose {
   margin-top: 40px;
 }

 /* IMAGES */

 .container-pics {
  margin-left: 15px;
 }

 .pics {
   height: 80px;
   width: 80px;
   padding: 0;
   margin-top: 10px;
   margin-right: 7px;
   box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
 }

 .pics:hover {
   box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.5);
   cursor: pointer;
 }


 /* FINAL SCORE */

 .emptyDiv {
   background: #218d82;
   width: 20%;
   height: 25px;
   margin-top: 5px;
 }

 .scoreDiv {
   color: white;
   margin-left: 5px;
   font-weight: 100;
 }

 .emptyDiv2 {
   background: #218d82;
   width: 20%;
   height: 100px;
   margin-top: 12px;
 }

 .finalScore {
  color: white;
 }